name: UnitTesting

on: [push, pull_request]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/github.com/newrelic/infra-integrations-sdk
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
          path: src/github.com/newrelic/infra-integrations-sdk

    - name: Test
      env:
          GOPATH: "${{ github.workspace }}"
      run: make
